/* headContainer */

.headContainer {
    padding: 6rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: linear-gradient(to bottom, #DA5658, #FFF);
}

    /* Sub - Elements */

    .headContainer img {
        margin-right: clamp(2rem, 5vw, 2rem);
    }

    /* Sub - Other Divs */

    .headContainer-title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: left;
    }

        /* Sub - Other Divs - Elements */

        .headContainer-title h1 {
            margin: 0;

            font-size: clamp(2rem, 5vw, 3rem);
        }

        .headContainer-title h2 {
            margin: 0;

            margin-top: clamp(0.25rem, 0vw, 1rem);

            font-size: clamp(1rem, 1.5vw, 1.6rem);
        }

/* toolsContainer */

.toolsContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;

    text-align: center;
}

    /* Sub - Other Divs */

    .toolsContainer-iconContainer-PAS {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: clamp(0.75rem, 1vw, 2rem);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .toolsContainer-icon {
        height: clamp(2.5rem, 3vw, 3rem);
        width: auto;
    }

/* pas-title */

.pas-title {
    font-weight: 500;
    font-size: clamp(2.5rem, 3vw, 3rem);
    margin: 0;
}

/* toolCard */

.toolCard {
    margin-left: 33dvw;
    margin-right: 33dvw;

    padding: 2rem;

    background-color: #eeeeee;

    border: 1.5px solid #e4e4e4;

    border-radius: 16px;
}

    /* Sub - Elements */

    .toolCard p {
        margin: 0;

        font-size: 1.2rem;
    }

    .toolCard button {
        margin-top: 2rem;
    
        padding: clamp(0.75rem, 2vw, 1.5rem);
        padding-top: clamp(0.25rem, 1vw, 0.5rem);
        padding-bottom: clamp(0.25rem, 1vw, 0.5rem);
    
        font-size: clamp(1.25rem, 4vw, 1.75rem);
        font-weight: 700;
    
        background-color: #e4e4e4;
    
        text-transform: uppercase;
    
        cursor: pointer;
    
        border-radius: clamp(8px, 2vw, 12px);
    
        border: 1px solid #d4d4d4;
    
        box-shadow: 0.25rem 0.25rem 0px #d4d4d4;
    
        transition: all 100ms ease-out;
    }

    .toolCard button:hover {
        background-color: #dddddd;

        transition: all 100ms ease-in;
    }

    .toolCard button:active {
        background-color: #cccccc;

        transform: translate(0.25rem, 0.25rem);

        box-shadow: 0rem 0rem #d4d4d4;

        transition: all 100ms ease-out;
    }

    /* Sub - Other Divs */

    .toolCard-image {
        width: 90%;
        height: auto;

        margin-bottom: 2rem;

        border-radius: 12px;
    }

@media screen and (max-width: 480px) {
    .headContainer-title h2 {
        display: none;
    }

    .headContainer img {
        margin-right: 0.75rem;
    }

    .toolCard {
        margin-left: 5dvw;
        margin-right: 5dvw;
    }
}

@media screen and (max-width: 310px) {
    .headContainer-title h2 {
        display: none;
    }

    .headContainer-title h1 {
        display: none;
    }

    .headContainer img {
        margin: 0;

        height: 4rem !important;
    }

    .toolCard {
        margin-left: 5dvw;
        margin-right: 5dvw;
    }
}