body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* headContainer */

.headContainer {
    padding: 6rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: linear-gradient(to bottom, #DA5658, #FFF);
}

    /* Sub - Elements */

    .headContainer img {
        margin: 0.5rem;
    }

    /* Sub - Other Divs */

    .headContainer-title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 2rem;

        text-align: left;
    }

        /* Sub - Other Divs - Elements */

        .headContainer-title h1 {
            margin: 0;

            font-size: 3rem;
        }

        .headContainer-title h2 {
            margin: 0;

            font-size: 1.5rem;
        }

        canvas {
            display: block;
            image-rendering: pixelated;
            background: transparent;
        }

.countdown {
    text-align: center;
    margin-top: 4rem;
    font-size: 6rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the countdown text */
}