/* Base styles */
body {
    font-family: 'Jersey 25', sans-serif;
    font-size: 1.2rem;
    text-rendering: optimizeLegibility;
    background: #f0f0f0;
    margin: 2rem 6vw;
}

/* Containers */
.container {
    margin: auto;
    background: white;
    padding: 3.5rem;
}

.preview-container {
    text-align: center;
}

.file-input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11rem;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #eee;
    font-family: 'Jersey 25', sans-serif;
}

.file-drop-area {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    text-align: center;
}

.file-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Headings */
h1 {
    margin: 0;
    font-size: 3rem;
}

/* Logos */
.logo {
    height: 3rem;
    margin: auto 0;
}

/* Labels and Information */
.label {
    color: black;
    font-size: 2rem;
    font-weight: normal;
    margin: 0.5rem 0;
}

.information {
    color: black;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

/* Inputs */
input[type="file"] {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

input[type="number"] {
    width: 5rem;
    appearance: textfield;
    -moz-appearance: textfield;
    background-color: #f0f0f0;
    border: none;
    padding: 0.3rem 0.5rem;
    font-family: 'Jersey 25', sans-serif;
    font-size: 1rem;
    cursor: text;
}

input[type="number"]:hover {
    background-color: #ececec;
}

input[type="number"]:active,
input[type="number"]:focus {
    outline: none !important;
    background-color: #ececec;
    border: none !important;
}

input[type="number"]:disabled {
    background-color: #d8d8d8;
    cursor: not-allowed;
}

input[type="number"]:disabled:hover {
    background-color: #c2c2c2;
}

/* Canvas */
#canvas {
    height: 8rem;
    margin-left: auto;
}

.preview {
    height: 8rem;
}

/* Clear button */
.clear-saved-img-btn {
    background-color: #f0f0f0;
    border: none;
    margin-bottom: 1rem;
    padding: 0.3rem 0.5rem;
    font-family: 'Jersey 25', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem #c9c9c9ce;
}

.clear-saved-img-btn:hover {
    background-color: #ececec;
}

.clear-saved-img-btn:active {
    background-color: #ececec;
    transform: translate(0.25rem, 0.25rem);
    box-shadow: 0rem 0rem #c9c9c9ce;
}

/* Utility */
.scaleInputText {
    font-size: 1rem;
}

label {
    cursor: text;
}
