body {
    font-family: 'Jersey 25', sans-serif;
    text-rendering: optimizeLegibility;

    background: #f0f0f0;
    margin: 2rem;
    margin-left: 6vw;
    margin-right: 6vw;

    font-size: 1.2rem;
}

.container {
    margin: auto;
    background: white;
    padding: 3.5rem;
}

.logo {
    height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

.file-input-container {
    position: relative;
    width: 100%;
    height: 11rem;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #eee;
    font-family: 'Jersey 25', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.file-input-container input[type="file"] {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.file-drop-area {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    text-align: center;
}

.file-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    color: black;
    font-weight: normal;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.information {
    color: black;
    font-size: 1rem;
    margin: 0;
    margin-top: .5rem;
}

.clear-saved-img-btn {
    background-color: #f0f0f0;
    border: none;
    margin-bottom: 1rem;
    padding: .5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-family: 'Jersey 25', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem #c9c9c9ce;
}

.clear-saved-img-btn:hover {
    background-color: #ececec;
}

.clear-saved-img-btn:active {
    background-color: #ececec;
    transform: translate(0.25rem, 0.25rem);
    box-shadow: 0rem 0rem #c9c9c9ce;
}

#canvas {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.preview-container {
    text-align: center;
}

.preview {
    height: 8rem;
}

input[type="number"] {
    width: 80px;
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: #f0f0f0;
    border: none;
    padding: .5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-family: 'Jersey 25', sans-serif;
    font-size: 1rem;
    cursor: text;
}

input[type="number"]:hover {
    background-color: #ececec;
}

input[type="number"]:active, input[type="number"]:focus {
    border: none !important;
    outline: none !important;
    background-color: #ececec;
}

label {
    cursor: text;
}